#content .all{width: 1200px; margin: 0 auto;}
#content .sec{font-size: 1.56rem; font-weight: 500; text-align: center; margin: 100px 0 120px 0; line-height: 2.8rem;}
#content .txt1{list-style: inside;  font-weight: 400; line-height: 2rem;}
#content a{
    padding:10px 0;
    width: 200px;
    overflow: hidden; 
    position: relative;
    margin: 20px 0 100px 20px;
    border: 2px solid #00a7ce; 
    color: #00a7ce;
    border-radius: 30px;
    text-align: center;
    font-size: 1rem;  
    font-weight: 500; 
    transition: all .5s ease-out;
    }
    #content a:hover{color: #fff; transition: all .5s ease-out;}
    #content a::before{
    content: "";
    display: block;
    height: 100px;
    width: 0; 
    background: #00a7ce;
    position: absolute; 
    left: 0; 
    top:0; 
    transition: all .5s ease-out;
    }
    #content a:hover::before{width:200px;}
    #content a span{
    position: relative; 
    display: block; 
    transition: all .5s ease-out;}
    #content a:hover span{color: #fff;}


#content .table {
margin: 100px 0 20px 0;
text-align: center;
width: 100%;
border-top: 2px solid #00a7ce;
}

#content .table tr th{
border-bottom: 2px solid #eef0f0;
padding: 15px 0;
}

#content .table tbody tr th, .table tbody tr td {
padding-top: 9px;
padding-bottom: 8px;
border-bottom: 2px solid #eef0f0;
border-right: 2px solid #eef0f0;
border-left:2px solid #eef0f0;
}

#content .txt2{font-weight: 400; font-size: .94rem; margin-top: 10px; margin-bottom: 150px; line-height: 1.5rem;}