
#content .sec{font-size: 1.56rem; font-weight: 500; text-align: center; margin: 120px 0 150px 0;}



#content{width: 1200px; margin: 0 auto;  }
#content h3 i{color: #00a7ce; margin-right: 10px; }
#content .box  i{transition: all .8s;}
#content .box h3{font-size: 1.56rem; font-weight: 700; margin-bottom: 40px;}
#content .box table {width: 1200px; border-collapse: collapse;  }
#content .box .box_1{margin-bottom: 150px;}
#content .box .box_1:hover i{transform: rotate(360deg);}
#content .box .box_2{margin-bottom: 150px;}
#content .box .box_2:hover i{transform: rotate(360deg);}
#content .box .box_3{margin-bottom: 150px;}
#content .box .box_3:hover i{transform: rotate(360deg);}
#content .box table th, table td {
    width: 25%;
    border: 1px solid #c8c8c8;
    padding: 40px;
    text-align: center;
    border-left: none;
    border-right: none;
    }
/* #content .box table th {border-bottom: none;} */
#content .box table td{border-top: none;}
#content .box td:first-child,th:first-child {
  border-left: 1px solid #c8c8c8; /* 왼쪽 경계선 */
}
#content .box td:last-child, th:last-child {
  border-right: 1px solid #c8c8c8; /* 오른쪽 경계선 */
}

#content .box th:first-child,td:first-child {
    border-left: 1px solid #c8c8c8;
  }
  #content .box th:last-child, td:last-child {
    border-right: 1px solid #c8c8c8; 
  }


#content .box table th{background-color: #F3FAFC;font-size: 1.56rem; font-weight: 500;}
#content .box table td{font-size: 1.56rem; font-weight: 500;}
#content .box table{margin-bottom: 30px;}
#content .box li {margin-bottom: 50px;}
#content .box li dt{font-size: 1.50rem; font-weight: 500;}
#content .box li dd{line-height: 2.2rem;}

#content .box2 {margin-bottom: 200px;}
#content .box2 h3 i{transition: all .5s;}
#content .box2:hover h3 i{transform: scale(1.3);}
#content .box2 h3{font-size: 1.56rem; font-weight: 700; margin-bottom: 40px;}
#content .box2 ul{width: 1110px; height: 600px; background: #f8f8f8; border: 1px solid #d9d9d9;
  margin-left: 25px; padding: 40px 0 0 60px; box-sizing: border-box;}
#content .box2 ul li{line-height: 2.6rem; list-style: inside;}
#content .box2 ul li span{display: block; margin-left: 22px;}

#content  .box_2{background: url(../images/content2/marine.jpg) no-repeat; background-position: right 310px;  }