/* 아쿠아리움의 공통 css */

/* visual 영역 */

.visual{width: 2000px; height: 400px; position: relative ; left: 50%; top: 0; transform: translateX(-50%);}
.visual span{font-size: 2rem; display: block; position: absolute; top: 230px;
  width: 100%; text-align: center; color: #fff;} /*시안 보면서 top 수정*/

/* 서브메뉴 */
.sub_nav{width: 100%; border-bottom: 1px solid #ccc; }
.sub_nav ul{overflow: hidden; width: 800px; margin: 0 auto; }
.sub_nav li{width: 50%; float: left; text-align: center;}
.sub_nav li a{font-size: 1.13rem; font-weight: 400;
  padding: 20px 0;}/*시안 잡은거 보면서 수정 */
.sub_nav li a:hover,.sub_nav li .current{background: #002060; color: #fff; font-size: 1.13rem; font-weight: 700;}



/* title_area 영역 */
#content{width:100%; }
#content .title_area{height: 430px; position: relative;  overflow: hidden;}
#content .title_area .line_map{position: absolute ; right: 0; top: 40px; font-size:.9rem;}
#content .title_area h2{font-size: 3.5rem; text-align: center; margin-top: 150px; margin-bottom: 20px;  position: relative;} /*h2랑 아래있는 작은 영문은 span 쓰거나 비포 에프터 쓰면 됨 */
/* #content .title_area h2::before{content: '영문타이틀'; display: block; position: absolute; width: 100%; text-align: center; top:-40px; font-size: 1rem;}비포 에프터는 포지션으로 위치잡음 */
#content .title_area h2::after{content: ''; display: block; width: 5px; height: 100px; background: #002060; position: absolute; top: 200px; left: 50%;}
#content .title_area p {
  font-size: 1.3rem;
  text-align: center;
  background: linear-gradient(#00a7ce, #002060);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


#content .content_area{width: 1200px; margin: 0 auto;}
#content .title_area{width: 1200px; margin: 0 auto;}

