
#content .back{ 
    
    width: 100%; 
    margin: 80px 0;
    padding-top: 40%;
    background-image: url('../images/aquarium1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
 }
#content .content_area{width: 100%; margin: 0 auto;}
#content .content_area p{
    width: 80%;
    margin: 0 auto 30px;
    font-size: 1.13rem; 
    font-weight: 400; 
    line-height: 2rem; 
    text-align: justify;
}


#content .content_area .box1{overflow: hidden;}
#content .content_area .box1 li{margin-top: 50px;}
#content .content_area .box1_1 img{float: left; width: 50%; height: 150px; object-fit: cover;}
#content .content_area .box1_1 .dl_box{padding-top: 20px;}
#content .content_area .box1_1 dl{height: 130px; margin-left: 52%; padding-top:32px;}

#content .content_area .box1_2 img{float: right; width: 50%; height: 150px; object-fit: cover;}
#content .content_area .box1_2 dl{height: 130px; margin-right: 52%; padding-top: 32px; text-align: right;}

#content .content_area .box1 dt{
    font-size: 1.0rem; 
    font-weight: 700; 
    color: #00a7ce; 
    margin-bottom: 10px;
} 
#content .content_area .box1 dd{
    font-size: .88rem; 
    font-weight: 400; 
    line-height: 1.5rem;
}




#content .content_area .box2{text-align: center; margin: 80px 0 100px 0; }
#content .content_area .box2 li{margin: 0 auto;}
#content .content_area .box2 img{width: 75%;}
#content .content_area .box2 dt{font-size: 1.38rem; font-weight:700; margin: 40px 0 30px ;}
#content .content_area .box2 dd{line-height: 2.2rem;}