#content .tab_box{border-bottom: 1px solid #ccc;
     margin-bottom: 50px; margin-top: 50px; width: 90%; margin-left: 5%; }
#content .tabs .contlist {display: none;}
#content .tab_box ul{display: flex; justify-content: center;  }
#content .tab_box ul li{width: 350px; text-align: center; }
#content .tab_box ul li a{padding-bottom: 20px;  font-size: 1.44rem; font-weight: 400;
     }
/* #content .tab_box ul li a::after{content: '';display: block; width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00A7CE;
    position: absolute;
    left: 90px;
    top: -18px; 
    z-index: -1; opacity:.6;} */
#content .tabs .floor_box .floor_img {width: 90%; margin-left: 5%; margin-bottom: 50px;}
#content .tabs .floor_box ul{padding: 0 15px; margin-bottom: 100px;}
#content .tabs .floor_box ul li{ overflow: hidden; margin-bottom: 20px;}

#content .tabs .floor_box ul li img{width: 48%; float: left; border-radius: 5px;
}
#content .tabs .floor_box ul li dl{margin-left: 50%; text-align: justify; }
#content .tabs .floor_box ul li dt{font-weight: 600; font-size: 1.0rem; margin-bottom: 10px;}
#content .tabs .floor_box ul li dd{font-size: .88rem;}